.header {
  /* 定义一个网格项在网格容器中的位置需要搭配grid-template-areas使用 */
  grid-area: nav;
  text-align: center;
  padding: 20px;
}

.navigation {
  display: flex;
  /* flex容器中的子元素均匀分布在主轴上 */
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.icon {
  width: 8%;
  height: 4%;
  margin: 0 10px;
  display: inline-block;
  /* 应用于行内元素时,会将元素的垂直中心与其父元素的基线加上父元素的中线高度对齐 */
  /* 通常用于对齐图片和文本的中线 */
  vertical-align: middle;
}

.normal {
  font-size: 16px;
  margin-left: 10px;
}

.right {
  margin-left: auto;
  display: flex;
  gap: 15px;
  font-size: 14px;
}

body {
  display: grid;
  /* 定义网格布局各区域名称和排列方式 */
  grid-template-areas:
    /* 第一行的三个单元格都属于nav区域 */
    "nav nav nav"
    /* 第二行分为三个区域 left(左侧边栏) main(主体) right(右侧边栏) */
    "left main right"
    /* 第三行的三个单元格都属于footer区域 */
    "footer footer footer";
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 20px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
}

.left-sidebar {
  grid-area: left;
  padding: 20px;
  border-right: 1px solid #ccc;
}

.main-content {
  grid-area: main;
  padding: 20px;
}

.right-sidebar {
  grid-area: right;
  padding: 20px;
  border-left: 1px solid #ccc;
}

.footer {
  grid-area: footer;
  text-align: center;
  padding: 10px;
  border-top: 1px solid #ccc;
}

h1,
h2,
h3 {
  margin: 10px 0;
  font-family: "Pacifico", cursive;
}

ul {
  list-style-type: none;
  padding: 0;
}

.review {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

/* 针对移动设备的样式 */
@media (max-width: 768px) {
  body {
    grid-template-areas:
      "nav"
      "main"
      "left"
      "right"
      "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
  }

  .left-sidebar,
  .right-sidebar {
    border: none;
    padding: 10px;
  }

  .left-sidebar {
    order: 2;
  }

  .main-content {
    order: 1;
  }

  .right-sidebar {
    order: 3;
  }

  .footer {
    order: 4;
  }

  .navigation {
    flex-direction: column;
    align-items: center; /* 修改为居中对齐 */
  }

  .icon {
    width: 12%;
    height: auto;
  }

  .right {
    margin-left: 0;
    gap: 10px;
    font-size: 12px;
  }
}

/* 针对电脑设备的样式 */
@media (min-width: 769px) {
  body {
    grid-template-areas:
      "nav nav nav"
      "left main right"
      "footer footer footer";
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto 1fr auto;
  }

  .navigation {
    flex-direction: row;
    align-items: center;
  }

  .icon {
    width: 8%;
    height: 4%;
  }

  .right {
    margin-left: auto;
    gap: 15px;
    font-size: 14px;
  }
}
